<!-- templates/upload.html -->
{% extends "base.html" %} {% block title %}Orders.co Uploader{% endblock %} {%
block content %}
<h2>Orders.co Menu Uploader</h2>
<form method="post" enctype="multipart/form-data">
  <button name="action" value="login" class="btn btn-secondary mb-3">
    Log in to Orders.co
  </button>

  <hr />

  <div class="mb-3">
    <label for="csv_file" class="form-label">CSV File:</label>
    <input
      type="file"
      class="form-control"
      id="csv_file"
      name="csv_file"
      accept=".csv"
      required
    />
  </div>
  <button name="action" value="upload" class="btn btn-primary">
    Upload CSV to Orders.co
  </button>
</form>
{% endblock %}
